parsl/mongodbdata
parsl/parsl/indexing/*
parsl/parsl/uncompressed/*
parsl/parsl/runinfo
deployer/results
deployer/deployer/*
deployer/mongodbdata
*.pyc
stages/download/data
stages/download/venv
*.tar
res*
