#version: '3'
services:
  deployer:
    image: ddomizzi/deployernez:v1
    tty: true
    restart: unless-stopped
    #working_dir: /home/domizzi/Documents/geoprocindexing/deployer/
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock' #Docker deamon
      - './results:/home/app/results' #Deployer
      - '/home/dsanchez/downloadlandsat:/home/dsanchez/downloadlandsat' #Data source
      - './cfg-files:/cfg-files' #Configuration files
      - './app/:/home/app'
    environment:
      HOST_PATH: /home/domizzi/Documents/GitHub/Landsat8Processing/deployer
  endpoint1:
    build: cliente
    image: ddomizzi/endpointnez:v1
    tty: true
    restart: unless-stopped
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock' #Docker deamon
      - './results:/home/app/results' #Deployer
      - '/home/dsanchez/downloadlandsat:/home/dsanchez/downloadlandsat' #Data source
      - './cfg-files:/cfg-files' #Configuration files
      - './app/:/home/app'
    environment:
      HOST_PATH: /home/domizzi/Documents/GitHub/Landsat8Processing/deployer
  mongo:
    image: mongo:4.2
    restart: always
    expose:
        - "27017/tcp"
    ports:
      - "27017:27017"
    volumes:
        - "./mongodbdata:/data/db"